*{
    margin:0;
    padding:0;
}

#container{
    border:2px dashed red;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    padding:20px;
    margin:20px;
}