*{
    background-color: grey;
    border:1px dashed red;
}

#container{
    width:50%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:    "header header"
                            "num op" 
                            "footer footer";
}

#contDisplay{
    height:50px;
    grid-area:header;
}

#contNumbers{
    display:grid;
    grid-area:num;
    grid-template-columns: 1fr 1fr 1fr;
}

#contOperators{
    display:grid;
    grid-area:op;
    grid-template-columns: 1fr;
}

#contFooter{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-area:footer;

}