*{
    background-color: grey;
    border:1px dashed red;
}

#container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:    "header header"
                            "header2 header2"
                            "num op" 
                            "footer footer";
}
#contDisplay1{
    height:25px;
    grid-area:header;
}
#contDisplay2{
    height:25px;
    grid-area:header2;
}
#contNumbers{
    display:grid;
    grid-area:num;
    grid-template-columns: 1fr 1fr 1fr;
}

#contOperators{
    display:grid;
    grid-area:op;
    grid-template-columns: 1fr;
}

#contFooter{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-area:footer;

}