*{
    padding:0;
    margin:0;
}

#container{
    padding: 20px;
    margin:10px;
    border:2px dashed red;
}

.keys{
    padding:10px;
    border:2px dashed red;
    display:inline-block;
    width:20px;
    height:20px;
}