*{
    padding:0;
    margin:0;
}

#container{
    padding: 20px;
    margin:10px;
    border:2px dashed red;
}

.keys{
    padding:10px;
    border:2px dashed red;
    display:inline-block;
    width:20px;
    height:20px;
    transition: border 0.3s;
}

.drum-hit{
    border:2px solid blue;
}