*{
    padding:0;
    margin:0;
}

#container{
    padding: 20px;
    margin:10px;
    border:2px dashed red;
    display:flex;
    justify-content: center;
}

.keys{
    padding:10px;
    border:2px dashed red;
    width:20px;
    height:20px;
    transition: border 0.3s;
    margin-left: 10px;
    margin-right: 10px;
}

.drum-hit{
    border:2px solid blue;
}