*{
    /* border:2px dashed red; */
    margin:0;
    padding:0;
    background-color: #5DCB95;
}

div{
    margin:10px;
    padding:10px;
}

#display{
    display:flex;
    flex-direction: column;
}

.item1{
    flex:1;
}

#container{
    display:flex;
    justify-content:center;
}


button {
  appearance: button;
  background-color: #406633;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFF;
  cursor: pointer;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 10px;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  vertical-align: middle;
  width: 100%;
}

button:after {
  background-clip: padding-box;
  background-color: #609e4c;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.1);
}

button:disabled {
  cursor: auto;
}

